<!-- <app-navbar></app-navbar> -->
<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>

        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="/admin" routerLinkActive="active">
                <!-- <mat-icon>person_add</mat-icon> -->
                <span>Home</span>

            </a>
            <a mat-list-item routerLink="/holidays" routerLinkActive="active">
                <!-- <mat-icon>person_add</mat-icon> -->
                <span>Holidays</span>

            </a>
            <a mat-list-item routerLink="/task" routerLinkActive="active">
                <!-- <mat-icon>person_add</mat-icon> -->
                <span>Task</span>

            </a>
            <a mat-list-item routerLink="/userTask" routerLinkActive="active">
                <!-- <mat-icon>person_add</mat-icon> -->
                <span>Assign Task</span>

            </a>

        </mat-nav-list>


    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <!-- <mat-icon>menu</mat-icon>&nbsp; -->
            <span>Menu</span>


        </button>
        <span class="spacer"></span>
        <a mat-button routerLink="/">Logout</a>
    </mat-toolbar>

    <mat-card style="  width: 24%;
height: 40%;
margin: 20px auto 20px auto;">
        <form style="text-align: center" (ngSubmit)="add()">
            <mat-form-field class="full-width" appearance="outline" style="margin-top: 10px">
                <mat-label>HolidayName</mat-label>
                <input required [(ngModel)]="holiday.holidayName" name="holidayName" type="holidayName" matInput
                    placeholder="holidayName*" />
                <mat-icon>
                    person
                </mat-icon>
            </mat-form-field>
            <br />
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>HolidayDate</mat-label>
                <input required [(ngModel)]="holiday.holidayDate" name="holidayDate" matInput
                    [matDatepicker]="basicDatepicker" placeholder="holidayDate*" />
                <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #basicDatepicker></mat-datepicker>
                <!-- <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> -->
            </mat-form-field>
            <br />
            <div class="container text-center" style="padding-bottom: 20px">
                <button type="submit" mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </mat-card>
</mat-sidenav-container>