
.mat
{
    width: 45%;
    margin: auto auto auto 30%;
    margin-top: 2%;
    box-shadow: 10px 10px 10px 10px rgba(24, 4, 1, 0.479);

}

*{
    font-family:Arial, Helvetica, sans-serif;
  }
   
  .titleContainer {
   display:flex;  
    height:32px;
    line-height:32px;
    font-size:12px;
    font-weight:bold;
    background:#444444;
    color:#ffffff; 
     padding-left:10px;  
     position: relative;
  } 
  
  .infoContainer {
    display:flex;
    height:32px;
    line-height:32px;
    border-bottom:1px solid #dddddd;
    padding-left:10px;
    background:#ffffff;
  }

  .task-description {
    position: absolute;
    left: 25rem;
  }
  .task-edate {
    position: absolute;
    left: 18rem;
  }

  .task-sdate {
    position: absolute;
    left: 11rem;
  }

  .days
  {
    position: absolute;
    left: 7rem;
  }

  .idTitle
  {
    position: absolute;
    left: 3rem;
  }
  
  .id {
    flex:1;
    /* background:yellow; */
  }
  
  .HolidayName {
    flex:1;
    /* background:maroon; */
  }
  
  .HolidayDate {
    flex:1;
    /* background:lightgreen; */
  }
  
  .button {
    flex:1;
    position: relative;
  }
  
  .addBtn {
    background:green;
    border:none;
    height:32px;
    margin-top:20px;
    color:#ffffff;
    font-weight:bold;
    width:120px;
  }
  
  .editBtn {
    background:blue;
    border:none;
    color:#ffffff;
    font-weight:bold;
    height:22px;
     width:60px; 
     position: absolute;
     left: 33rem;
     top: 1px;
  }
  
  .deleteBtn {
    background:rgb(255, 0, 0);
    border:none;
    color:#ffffff;
    font-weight:bold;
    height:22px;
     width:60px; 
     position: absolute;
     left: 38rem;
     top: 1px;
  }
  
  .spacer {
    flex: 1 1 auto;
    color: aqua;
  }

  .task-username
  {
    position: absolute;
  }