.full-width {
  width: 70%;
  height: 20%;
}

.text-center {
  align-items: center;
  text-align: center;
  display: block;
}

mat-card
{
  width: 40%;
  box-shadow: 10px 10px 10px 10px rgba(24, 4, 1, 0.479);
}