.full-width {
    width: 80%;
}

.text-center {
    align-items: center;
    text-align: center;
    display: block;
}


mat-card
{
  box-shadow: 10px 10px 10px 10px rgba(24, 4, 1, 0.479);
}

.spacer {
  flex: 1 1 auto;
  color: aqua;
}